body{
    margin: 0;
    color: aliceblue;
    font-family: sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    overflow: hidden;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    text-align: center;
}

.clock{
    display: flex;

}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background-color: gray;
    opacity: .8;
    color: white;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 15px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
}
.clock .text{
    font: optional;
    font: size 5px; ;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: black;
    opacity: .8;
}
.clock .ampm{
    bottom: 0;
    position: absolute;
    width: 50px;
    height: 30px;
    font-size: 20px;
    background-color: green;
}